{% extends 'base.html' %}

{% block title %}
    <title>Contacts</title>
{% endblock %}

{% block body %}
    <h1>Your contacts are:</h1>
    <table class="table table-hover table-borderless">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <th>{{ person.first_name }}</th>
                    <th>{{ person.last_name }}</th>
                    <th>{{ person.phone }}</th>
                    <th>
                        <a class="btn btn-primary" href="{% url 'edit-contact' person.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete-contact' person.id %}">Delete</a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <dev class="container">
        <a class="btn btn-primary" href="{% url 'home' %}">Back to Home</a>
        <a class="btn btn-primary" href="{% url 'add-contact' %}">Add Contact</a>
    </dev>

{% endblock %}